site_name: Cylindra
site_description: Cryo-ET image analysis tool for cylindric periodic structures such as microtubules.
repo_name: cylindra
repo_url: https://github.com/hanjinliu/cylindra

copyright: Copyright (c) 2023 - 2024 Hanjin Liu

theme:
  name: material
  palette:
    - scheme: slate
      primary: lime
      accent: light-green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: lime
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - content.code.annotate
    - content.code.copy
    - navigation.sections
    - navigation.indexes
    - navigation.footer
    - toc.follow
    - search.suggest
    - search.share
  font:
    text: Roboto
    code: Roboto Mono

nav:
  - Overview: index.md
  - Installation: installation.md
  - Basics: basics.md
  - Usage:
    - open_image.md
    - fit_splines.md
    - lattice_params.md
    - inspect_results.md
    - project_io.md
    - workflows.md
    - Spline:
      - Spline: spline/index.md
      - spline/clip.md
      - spline/config.md
    - Molecules:
      - Molecules: molecules/index.md
      - molecules/spline_to_molecules.md
      - molecules/features.md
      - molecules/expressions.md
      - molecules/split_and_combine.md
      - molecules/filter_molecules.md
      - molecules/transform.md
      - molecules/headers.md
    - Alignment:
      - Subtomogram Alignment and Averaging: alignment/index.md
      - alignment/conventional.md
      - alignment/landscape.md
      - alignment/viterbi.md
      - alignment/rma.md
    - Working with Many Projects:
      - Working with Many Projects: batch/index.md
      - batch/collect_projects.md
      - batch/construct.md
      - batch/average.md
    - Working with External Softwares:
      - Working with External Softwares: extern/index.md
      - extern/imod.md
      - extern/relion.md
    - process_images.md
    - simulate.md
    - cli.md
    - Case Studies:
      - Case Studies: case_studies/index.md
      - case_studies/seam_search.md
      - case_studies/ssta.md
      - case_studies/make_figure.md
  - API References:
    - api/index.md
    - api/components.md
    - api/core.md
    - api/project.md
    - api/cylmeasure.md
    - api/cylfilters.md
    - api/ext.md
    - Widgets:
      - api/widgets/main.md
      - api/widgets/sta.md
      - api/widgets/subwidgets.md
      - api/widgets/batch.md

hooks:
  - docs/scripts/_dynamic_doc.py

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
          options:
            docstring_style: numpy
            show_source: true
            show_bases: false
            show_signature_annotations: true
  - gen-files:
      scripts:
        - docs/scripts/_screenshots.py

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.keys
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

watch:
  - cylindra
