QCommandLineEdit {
    font-family: "Arial";
    font-size: 15px;
}

QCommandList {
    font-family: "Arial";
    font-size: 15px;
}

QSizeGrip {
    image: url(%QSS_PATH%/icons/grip.svg);
    width: 10px;
    height: 10px;
}

QMenuBar::item {
    margin: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
}
