h1, .md-typeset h1 {
    color: var(--md-accent-fg-color);
    font-weight: 700;
    font-size: 36pt;
}

h2, .md-typeset h2 {
    color: var(--md-accent-fg-color);
    font-weight: 600;
    font-size: 24pt;
}

h3, .md-typeset h3 {
    color: var(--md-accent-fg-color);
    font-weight: 600;
    font-size: 18pt;
}

code, pre, .md-typeset code, .md-typeset pre {
    font-family: 'Consolas', 'Monaco', monospace;
}
